.header-coffee{
    z-index: 3;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #080134;
    height: 110px;
    width: 100%
}

body{
    margin: 0px;
    padding: 0px;
}

.logo-div{
    float: left;
    color: azure;
    margin-top: 1px;
    font-family: "Helvetica Neue";
    font-weight: bold;
}
.logo-div img{
    position: relative;
    top: 10px;
}
.nev-links{
    float: right;
    height: 100%;
}
.nev-links a{
    color: azure;
    padding-right: 10px;
    padding-top: 50px;
    font-family: "Helventica Neue";
    font-size: 18px;
    font-weight: 900;
    display: inline-block;
}

.site-content{
    position: absolute;
    top: 75px;
    width: 100%;
}

.image-content{
    background-image: url(background-image.jpg);
    height: 800px;
    width: 100%;
    text-align: center
}

.quote{
    color: azure;
    font-family: "Helventica Neue";
    font-size: 50px;
    position: relative;
    top: 10%;
}

.card-list{
    width: 100%;
}

#product{
    text-align: center;
}

.card{
    width: 22%;
    padding: 1.5%;
    text-align: center;
    float: left;
    display: inline-block;
}

.card img{
    width: 100%;
}

.order-section{
    width: 100%;
}

#order{
    text-align: center;
}

.form{
    width: 200px;
    margin:0 auto;
}

.form input{
    padding: 10px;
    margin: 10px;
}